.top_header {
    background-color: #FFFFCC;
    padding: 5px 0; 
    
    
   
}
.main_mnu a {
    color: #333333;
    padding: 15px;
    display: block;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    text-transform: uppercase;
    
    
}
.main_mnu a:hover {
    background-color: #ECCF87;
    font-size: 1.4em;
    color: #666666;
}
.main_mnu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #FEEAB5;
    font-size: 1.3em;
    
    

}
.main_mnu ul li {
    display: inline-block;
    font-family: "ObelixProRegular";
    
    
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
   
}
.logo {
	width:70%;
    height: 60%;
    
    position: center;
	
    
    
    
}

#mbdoy {
    font-size: 0.9em;
    align-items: center;
    font-family: "RobotoRegular", sans-serif;
    vertical-align: baseline;
    text-align: center;
    width: auto;
    font-weight: bold;
    text-transform: uppercase;
}
.main_menu_button{
    background-color: transparent;
    border: medium none;
    font-size: 30px;
    
}

.main_menu_list{
    display: none;
    
}
#m_list {
   display: inline-block;
   font-family: "RobotoRegular", sans-serif;
    font-size: 1.1em;
    
}
.main_mnu {
    text-align: center !important;
    
    
}

#logo_img {
    text-align: center;
}
#h_row {
    width: 100%;
    
}
#menu ul ul li{
    float: none;
    display: block;
    border-bottom: 1px solid #E5C06E;
    background: #FFC;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    
}

#main_mnu_b{
    text-align: center;
   
        
}


.main_mnu_b li a {
    color: #333333;
    padding: 12px;
    
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    text-transform: uppercase;
    
    
}
.main_mnu_b a:hover {
    background-color: #ECCF87;
    font-size: 1.3em;
    color: #666666;
}
#menu ul ul li a:hover {
    background-color:transparent;
    font-size: 1.3em;
    color: #666666;
    
}
.main_mnu_b ul li {
    display: inline-block;
    font-family:"RobotoRegular", sans-serif;
    text-align: left;
    font-weight: bold;
    
    
    
   
    
    
}
#menu ul ul {
    
    padding: 0px;
    border: 1px solid #E5C06E;
     display: table;
    position: absolute !important;
    top: 29px;
    z-index: 101;
    display: none;
    
    
    
}

.main_mnu_b {
    text-align: center;
    position: relative;
    
}
#menu ul ul il:last-child {
    border-bottom: none;
    position: absolute !important;
   
}


#fsirst {
     width: 155px;
     top: 23px;
     left: 16%;
    font-size: 0.8em !important;
    
    align-content: center !important;
    
}
#menu {
     margin-right: 50px; 
    margin-left: auto;
}
.right_aside ul li {
   border-bottom: 1px solid #E5C06E;
    list-style: none;
    text-align: left;
    
}
.right_aside ul {
   padding-left: 3px;
   padding-right: 3px;
    text-align: center;
    
}








