/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    #menu ul{
        font-size: 0.8em;
        padding-left: 1px;
        padding-right: 1px;
    }
     #menu ul ul {
         font-size: 0.9em;}
    #menu ul ul ul{
        left: 101% !important;
        top: -1px !important;
        font-size: 0.9em;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .main_menu_list ul {
		background-color: #3797bf;
       display: none;
		position: absolute;
		width: 100%;
	}
	.main_menu_list ul li {
		
        display: none;
        width: 100%;
        font-size: 1.2em;
	}

	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {  .main_menu_list ul {
		background-color: #3797bf;
       display: block !important;
		position: absolute;
		width: 100%;
         font-size: 1.1em;
	}
	.main_menu_list ul li {
		
        display: block !important;
        width: 100%;
        font-size: 1.1em;
        
		
	}
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
     .main_menu_list ul {
		background-color: #3797bf;
       display: block !important;
		position: absolute;
		width: 100%;
         font-size: 1.1em;
	}
	.main_menu_list ul li {
		
        display: block !important;
        width: 100%;
        font-size: 1.1em;
        
		
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {  .main_menu_list ul {
		background-color: #3797bf;
       display: block !important;
		position: absolute;
		width: 100%;
         font-size: 1.1em;
	}
	.main_menu_list ul li {
		
        display: block !important;
        width: 100%;
        font-size: 1.1em;
        
		
	}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) { .main_menu_list ul {
		background-color: #3797bf;
       display: block !important;
		position: absolute;
		width: 100%;
         font-size: 1.1em;
	}
	.main_menu_list ul li {
		
        display: block !important;
        width: 100%;
        font-size: 1.1em;
        
		
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
     #menu ul{
        
        padding-left: 3px;
        padding-right: 3px;
    }
}